<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RealidadAumentada"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>



    <!-- Esta línea es para darle a la aplicación, permisos de cámara, ya que será
    necesario para visualizar el entorno donde queremos usar la RA -->

    <uses-permission android:name="android.permission.CAMERA" />


    <!-- Esto ayuda a comprobar una característica específica en el hardware del
    teléfono, aquí es la versión de OpenGlES. Sceneform necesita OpenGLES versión
    3.0 o posterior -->
    <!--<uses-feature android:glesversion="0x00030000" android:required="true"/> -->

    <!-- Indica que esta aplicación requiere Google Play Services para AR. Limita la
    visibilidad de la aplicación en Google Play Store a los dispositivos compatibles
    con ARCore. Si lo marcamos como opcional, la aplicación será visible para todos,
    pero no podrán usar esta característica en caso de no ser compatible -->
    <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>